<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dice-roller</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="DiceRoller">
    <meta name="Description" content="DiceRoller"/>
    <!-- Open Graph data -->
    <meta property="og:title" content="DiceRoller" />
    <meta property="og:description" content="DiceRoller" />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ff4970">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ff4970">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>
<body>
	<%= require('html-loader!./src/pages/header.html') %>
	<div class="content">
		<%= require('html-loader!./src/pages/dice-roller.html') %>
		<%= require('html-loader!./src/pages/multi-roller.html') %>
	</div>
</body>
</html>
